/*------------------ PAGE GENERAL ----------------------*/
@import "../../page/page_general";

ul.navbar_general {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.navbar_general {
  
  li {
      float: left;
  }

  li {
      
      a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
      }

      a:hover:not(.active) {
          background-color: #111;
      }

      a.active {
          background-color: #04AA6D;
      }
  }

  li.right {
      float: right;
  }
}